<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Henrietta & Co
            </a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/wikis/#business">All</a></li>
          <li><a href="#business">Business</a></li>
          <li><a href="#personal">Personal</a></li>
          <li><a href="/wikis/#collaborate">Collaborate</a></li>
          <li><a href="#fun">Fun</a></li>
        </ul>

    </div>
</nav>
