<!-- views/partials/head.ejs -->

<meta charset="UTF-8">

<title>Henrietta & Co. Wiki</title>
<!-- Stylesheets -->
<link rel="shortcut icon" href="/public/favicon.ico">
<!-- Latest compiled and minified CSS for Bootsrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/style.css' />


<script src="lib/marked.js"></script>


<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
