<!DOCTYPE html>
<html>

<head>
  <title>Henrietta & Co. Wiki</title>
  <!-- Stylesheets -->
  <link rel="shortcut icon" href="/public/favicon.ico">
  <!-- Latest compiled and minified CSS for Bootsrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />


  <script src="lib/marked.js"></script>

</head>

<body>

    <script>
      document.getElementById('content').innerHTML =
        marked('# Marked in browser\n\nRendered by **marked**.');
    </script>

    <nav role="navigation">
      <a class="navbar-brand" href="#">
        <div id="wiki-name">Henrietta & Co.</div>
      </a>

      <ul class="nav nav-tabs">
        <li><a href="/wikis/#business">All</a></li>
        <li><a href="#business">Business</a></li>
        <li><a href="#personal">Personal</a></li>
        <li><a href="/wikis/#collaborate">Collaborate</a></li>
        <li><a href="#fun">Fun</a></li>
      </ul>
    </nav>

    <main>
      <img  class="main-img" src="http://i.imgur.com/qWHHlfU.jpg?1">
    </main>

    <%- body %>

</body>
</html>
