<!DOCTYPE html>
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,200' rel='stylesheet' type='text/css'>
  <title>Henrietta & Co. Wiki</title>
  <link rel="stylesheet" type="type/css" href="/stylesheets/style_sheet.css">
  <script src="lib/marked.js"></script>
  <link rel="shortcut icon" href="/public/favicon.ico">
  <link rel="stylesheet" type="type/css" href="/stylesheets/reset_stylesheet.css">

</head>

<body>

  <div id="all-contents">

    <div>
      <img src="http://i.imgur.com/qWHHlfU.jpg?1">
    </div>

    <div id="wiki-name">Henrietta & Co.</div>

    <script>
      document.getElementById('content').innerHTML =
        marked('# Marked in browser\n\nRendered by **marked**.');
    </script>

    <nav id="top-nav">
      <button id="back" onclick="goBack()">Go Back</button>
        <script>
        function goBack() {window.history.back();}
        </script>
    </nav>

    <nav id="bottom-nav">
      <ul>
        <li type="radio" class="all">All</li>
        <li type="radio" id="business">Business</li>
        <li type="radio" id="personal">Personal</li>
        <li type="radio" id="collaborate">Collaborate</li>
        <li type="radio" id="fun">Fun</li>
      </ul>
    </nav>
    <%- body %>
  </div>
</body>
</html>
