<!DOCTYPE html>
<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,200' rel='stylesheet' type='text/css'>
  <title>Henrietta & Co. Wiki</title>
  <link rel="stylesheet" type="type/css" href="/stylesheets/style_sheet.css">
  <script src="lib/marked.js"></script>
  <link rel="shortcut icon" href="/public/favicon.ico">
  <link rel="stylesheet" type="type/css" href="/stylesheets/reset_stylesheet.css">

</head>

<body>

  <div id="all-contents">

    <div>
      <img src="http://i.imgur.com/qWHHlfU.jpg?1">
    </div>

    <div id="wiki-name">Henrietta & Co.</div>

    <script>
      document.getElementById('content').innerHTML =
        marked('# Marked in browser\n\nRendered by **marked**.');
    </script>

    <div id="top-nav"></div>

    <nav id="bottom-nav">
      <ul>
        <li><a href="/wikis/#business">All</a></li>
        <li><a href="#business">Business</a></li>
        <li><a href="#personal">Personal</a></li>
        <li><a href="/wikis/#collaborate">Collaborate</a></li>
        <li><a href="#fun">Fun</a></li>
      </ul>
    </nav>
    <%- body %>
  </div>
</body>
</html>
