<head>
  <link rel="stylesheet" type="type/css" href="/stylesheets/style_sheet_wikis_new.css">
</head>

<form action="/wikis/<%=wiki._id%>" method="post">

  <label>What's on your mind?: </label><br>
  <input type="text" name="wiki[title]" value="<%= wiki.title %>"  readonly/><br>

  <label>Tell us more about it: </label><br>
  <textarea rows="10" cols="50" name="wiki[content]"> <%= wiki.content %> </textarea><br>

  <!-- <label>Select a Category</label>
  <select name="wiki[category]">
    <option value="business">Business</option>
    <option value="personal">Personal</option>
    <option value="collaborate">Let's Collaborate</option>
    <option value="fun">Just for Fun</option>
  </select></br> -->

  <input type="submit" value="Update the post" />

</form>
