
<head>
  <link rel="stylesheet" type="type/css" href="/stylesheets/style_sheet_wikis_new.css">
</head>

<div id="new-form">
  <form action="/wikis" method="post">
    <label>What's on your mind?: </label>
    <input type="text" name="wiki[title]" placeholder="Title" /></br>

    <label>Tell us more about it: </label>
    <textarea rows="10" cols="50" name="wiki[content]"></textarea></br>

    <label>Select a Category</label>
    <select name="wiki[category]">
      <option value="business">Business</option>
      <option value="personal">Personal</option>
      <option value="collaborate">Let's Collaborate</option>
      <option value="fun">Just for Fun</option>
    </select>

    <input type="submit" value="Add your new thought" />
  </form>
</div>
