/*#new-form { this is not selecting the area behind the forms.*/
  /*background-color: blue;
  position: relative;
}*/

form {
  position: absolute;
  bottom: 0;
  width: 500px;
  z-index: 1;
  text-align: left;
  border-radius: 5px;
  margin-left: 45%;
  margin-bottom: 20%;
}
