body {
  margin-bottom: 1%;
}

#contribute-button{
  box-sizing: border-box;
  background-color: lightgray;
  height: 150px;
  width: 200px;
  color: white;
  text-shadow: 1px 1px #B3AF92;
  font-size: 25px;
  border-radius: 7px;
  cursor:pointer;
  opacity: 0.7;
  position: relative;
  z-index: 1;
  bottom: 300px;
  float: left;
  margin-left: 45%;
  text-decoration: inherit;
  padding: 3%;
}



.all {
  text-align: left;
  font-size: 30px;
  margin-bottom: 2px;
  margin-top: 30px;
  /*margin-left: 10px;*/
  perspective-origin: relative;
  width: 200px;
}

#article {
  box-sizing: border-box;
  width: 800px;
  border: solid lightgray;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin-left: 15%;
  background-color: #E5BE9E;
}


/*dl a {
  color: black;
  font-size: 20px;
  height: 10px;
  background-color: red;
  width: 40px;
}

dl{
  border: solid 1px darkgray;
  width: 500px;
  text-align: left;
  background-color: lightgray;
  border-radius: 7px;
  margin-left: 20%;

}*/

/*#business input:checked {
	background-color: #3399cc;
}*/

/*.all .section {
	opacity: 0;
	height: 0;
	-moz-transition: height 0.75s, opacity 0.75s;
	-0-transition: height 0.75s, opacity 0.75s;
	-webkit-transition: height 0.75s, opacity 0.75s;
	transition: height 0.75s, opacity 0.75s;
	color: transparent;
}

.all input:checked + .section {
  display: block;
  overflow: auto;
  height: 300px;
  opacity: 1;
  background-color: white;
  color: black;
}*/
