<head>
  <link rel="stylesheet" type="type/css" href="/stylesheets/style_sheet_users_signup.css">
</head>

<form action="/users" method="post" id="sign-up-form">
  <!-- <label>Username</label> -->
  <br>
  <input type="text" placeholder="username" name="user[username]">
  <br>
  <!-- <label>Password</label> -->
  <br>
  <input type="password" placeholder="password" name="user[password]">
  <br>
  <input type="submit" value="Sign up!">
</form>
